* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #4A465B;
}


/* HEADER */

.flex-conteiner {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    list-style: none;
}

.nav-link {
    font-weight: 900;
    color: black;
    display: block;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid gray;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.nav-link:focus {
    text-decoration: underline;
    background-color: black;
    color: white;
}


/* BODY */


/* IMAGEN */

.img {
    display: block;
    width: 100%;
}

.articulo,
.aside {
    padding: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/* ASIDE */

.aside {
    background-color: #161F26;
    color: white;
}

#nav-aside .nav-item {
    list-style: none;
    margin-bottom: 10px;
}

#nav-aside .nav-link {
    color: white;
}

#nav-aside .nav-link:focus {
    color: blue;
    background: none;
}

.aside h2 {
    margin-bottom: 20px;
    color: #FC7D04;
    border-bottom: 1px solid #FC7D04;
}

.informacion {
    margin-top: 55px;
}

.informacion p {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/* FOOtER */

.footer {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    background-color: black;
}

.articulo {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
}

.articulo h2 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.articulo p {
    padding-bottom: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.footer p {
    color: white;
    text-align: center;
}

@media (min-width: 700px) {
    body {
        display: flex;
        justify-content: center;
    }
    .flex-conteiner {
        display: inline-block;
        width: 70%;
        background-color: transparent;
    }
    .header {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .nav {
        height: 50px;
        flex-direction: row;
    }
    .nav .nav-link {
        border-bottom: none;
        line-height: 35px;
    }
    .nav-item:hover {
        background-color: black;
    }
    .nav-item:hover .nav-link {
        color: white;
    }
    .conteiner_item {
        display: block;
    }
    /* IMAGEN */
    .imagen {
        width: 70%;
        float: left;
    }
    /* Aside */
    .aside {
        width: 30%;
        float: right;
    }
    .informacion {
        font-size: 12px;
    }
    #nav-aside .nav-link {
        font-weight: lighter;
        font-size: 10px;
    }
    .nav-item:hover .nav-link {
        text-decoration: underline;
    }
    /* ARTICULO */
    .articulo {
        width: 70%;
        background-color: white;
        font-size: 20px;
    }
    .articulo p,
    .articulo h2 {
        margin: 20px;
    }
    .articulo h2 {
        margin-top: 450px;
    }
    /* FOOTER */
    .footer {
        width: 70%;
    }
}